{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table width="100" cellspacing="30px">
        <tr>
           <td>username</td>
           <td><input type="text"></td>
        </tr><br>
        <tr>
            <td>password</td>
            <td><input type="text"></td>
         </tr><br>
         <tr >
            <td>
            <input type="button" value="login"></td>
         </tr>
         <img src="{% static 'images/ss.jpg' %}" alt="hhhhh" width="55%">
    </table>
</body>
</html>